*.iml
.gradle
/local.properties
local.properties
/.idea
.DS_Store
/build
build/
*/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk

target/
*.log
*.pdb
*.exe
hs_err_pid*.log
build_out.txt

# Signing
*.jks
*.keystore
keystore.properties
!keystore.properties.sample

